# 1번

In [4]:
# 1. 리스트의 삭제
nums = [100,200,300,400,500]
# 슬라이싱 사용
# nums = nums[:3]

# 리스트 내장함수
#print(dir(nums))
nums.pop()
nums.pop()
print(nums)

[100, 200, 300]

# 2번

In [5]:
l = [200,100,300]
print(type(l))

<class 'list'>

# 3번

In [6]:
l = [100, 200, 300]
print(type(l))
print(dir(l))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# 4번

In [7]:
a = '''
hello world
'''
print(type(a))

<class 'str'>

# 5번

In [8]:
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a+b)

16

# 6번 : False
-> None, 0, "", bool(0)

In [9]:
# 주의할 사항
print(bool(" "))
print(bool(""))
print(bool(["",""])) # ,(콤마) 존재로 True로 잡힘
print(bool([]))
print(bool(None))

True
False
True
False
False

# 8번 : 딕셔너리 키 이름 중복

In [10]:
d = {'height':100, 'weight': 78, 'weight':84, 'temparture': 36, 'eyesight':1}
print(d['weight'])

84

In [11]:
print(d)

{'height': 100, 'weight': 84, 'temparture': 36, 'eyesight': 1}

In [12]:
d

{'height': 100, 'weight': 84, 'temparture': 36, 'eyesight': 1}

In [13]:
!python -V

Python 3.9.0

In [14]:
d['weight'] = 100
print(d)

{'height': 100, 'weight': 100, 'temparture': 36, 'eyesight': 1}

In [15]:
d['aa'] = 1000
print(d)

{'height': 100, 'weight': 100, 'temparture': 36, 'eyesight': 1, 'aa': 1000}

In [16]:
d['bb'] = 1000
print(d)

{'height': 100, 'weight': 100, 'temparture': 36, 'eyesight': 1, 'aa': 1000, 'bb': 1000}

In [17]:
for i in d:
    print(i)

height
weight
temparture
eyesight
aa
bb

# 9번 : sep와 end를 활용한 출력방법

In [18]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, )
print(hour, minute, second, )

2019 04 26
11 34 27

In [19]:
print(year, month, day, end=' ', sep='/')
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

# 10번
```
    *
   ***
  *****
 *******
*********
```

In [20]:
# 4    1
# 3    3
# 2    5
# 1    7
# 0    9
# n-i  2i-1

n=5
for i in range(1, n+1):
    #print(n-i, 2*i-1)
    print((' '*(n-i)+('*'*(2*i-1))))

    *
   ***
  *****
 *******
*********

# 11번 : for문 기본 활용

In [21]:
s = 0

for i in range(1, 101):
    s += i

print(s)

5050

In [22]:
# 100 99  98  97  96  ...
# 1   2   3   4   5   ...
# 101 101 101 101 101 ...

# n*(n+1)/2

100*(100+1)/2

5050.0

In [23]:
# 리스트의 내장함수 이용가능
list(range(10))

# 후에 iterator, generator
# type(range(10)) --> range

print(list(range(10)))
print(list(range(5, 10)))
print(list(range(1, 10, 2)))
print(list(range(20, 10, -2)))
print(list(range(-10, 10, 2)))
print(list(range(1, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[20, 18, 16, 14, 12]
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

# 12번 : 게임 캐릭터 class만들기

In [24]:
class Wizard:
    # 클래스가 인스턴스화 될때, 인스턴스의 영역을 나타내주는 것이 self
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor

    def __str__(self):
        return 'hello world'

    def attack(self):
        print('파이어볼')
        
x = Wizard(health=545, mana=210, armor=10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

In [25]:
print(type(x))
print(dir(x))
print(x)
# 메직메소드는 x에 대한 성질, 본질을 정의하는 메소드이다.

<class '__main__.Wizard'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'armor', 'attack', 'health', 'mana']
hello world

# 13번 : 몇 번째 행성인가요?

In [26]:
행성 = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
사용자입력 = int(input('n번째 행성을 입력하세요.'))
#행성[사용자입력-1] --> 만약 '사용자입력'이 0이면 행성[-1]로 '해왕성' 출력
if 사용자입력.isnumeric():
    if 사용자입력 >= 1:
        if 사용자입력 <=8:
            print(행성[사용자입력-1])
        else:
            print('총 8개의 행성밖에 없습니다.')
    elif 사용자입력 == 0:
        print('0번째 행성은 없습니다.')
    else:
        print(행성[사용자입력])
else:
    print('숫자를 입력해주세요.')

ValueError: invalid literal for int() with base 10: ''

In [ ]:
dir('abc')
'abc'.isnumeric()
'123'.isnumeric()

True

# 14번 : 3의 배수인가요?

In [ ]:
try:
    n = int(input('숫자를 입력하세요 : '))
    if n % 3 == 0:
        print('짝')
    else:
        print(n)
except:
    # n에 문자가 입력되었을 때 예외처리
    print('숫자를 입력해주세요!')

숫자를 입력해주세요!

In [ ]:
'3' in '123'

True

In [ ]:
30 in [10,20,30]

True

# 15번 : 자기소개

In [ ]:
name = input('이름을 입력하세요 : ')
age = 10

print('안녕하세요. 저는 {}입니다. 제 나이는 {}입니다.'.format(name, age))
print('안녕하세요. 저는 {0}입니다. 제 나이는 {0}입니다.'.format(name, age))
print(f'안녕하세요. 저는 {name}입니다.')
print(f'안녕하세요. 저는 {name}입니다. 제 나이는 {age+age}입니다.')

안녕하세요. 저는 오민영입니다.

# 16번 : 로꾸꺼

In [ ]:
문자열 = input()

print(문자열[::-1])

cba

In [ ]:
s=''
for i in 문자열:
    print(s)
    # s += i 와 다름
    s = i + s
print(s)

a
ba
cba

In [ ]:
def 거꾸로(s):
    if len(s) == 1:
        return s
    else:
        return 거꾸로(s[1:]) + s[0]

거꾸로(문자열)

# abc     거꾸로('bc') + a
# bc      거꾸로('c') + b
# c       거꾸로('c')

'cba'

# 17번 : 놀이기구 키 제한

In [ ]:
try:
    키 = int(input())
    if 키 >= 150:
        print("YES")
    else:
        print("NO")
except:
    print('숫자를 입력하세요!')

숫자를 입력하세요!

# 18번 : 평균 점수

In [ ]:
data = list(map(int, input().split()))
data

[10, 20, 30]

In [ ]:
list(map(lambda x:x**2, [10,20,30]))

[100, 400, 900]

In [ ]:
def 제곱(x):
    return x ** 2

list(map(제곱, [10,20,30]))

[100, 400, 900]

In [ ]:
data = sum(list(map(int, input().split())))//3
data

20

# 19번 : 제곱을 구하자

In [ ]:
data = list(map(int, input().split()))
data[0] ** data[1]

8

# 20번 : 몫과 나머지

In [ ]:
data = list(map(float, input().split()))

data[0]//data[1], data[0]%data[1]

(5.0, 0.0)

In [ ]:
# 숫자가 커지면 커질수록 성능이 좋아지는 divmod
# 두 숫자를 나누어 몫과 나머지를 tuple로
divmod(data[0], data[1])

# 21번 : set()

In [ ]:
x = {1,2,3,5,6,7,7,7,7}
x

{1, 2, 3, 5, 6, 7}

In [ ]:
type(x)

set

In [ ]:
a = {1,2,3}
b = {3,4,5}
print(a | b)
print(a & b)
print(a - b)

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [ ]:
x = {}

In [ ]:
type(x)

dict

In [ ]:
x = set('python') # set은 순서가 없다. 중복을 허락하지 않는다.
x

{'h', 'n', 'o', 'p', 't', 'y'}

In [ ]:
x = set(range(5))
x

{0, 1, 2, 3, 4}

In [ ]:
x = set()

# 24번 : 대문자로 변환

In [ ]:
name = input('이름을 입력하세요 : ')
print(name.upper())

OMINYOUNG

In [ ]:
ord('a')
chr(97)
ord('a') - ord('A')

32

In [ ]:
s = ''
for i in name:
    s += chr(ord(i) -32)
s

'OMINYOUNG'

# 25번 : 원의 넓이를 구하시오.

In [ ]:
def 원의넓이(반지름):
    return 반지름**2*3.14
반지름 = float(input('반지름을 입력하세요 : '))

원의넓이(반지름)

314.0

# 26번 : 행성문제2

In [ ]:
행성 = {
    '수성' : 'Mercury',
    '금성' : 'Venus',
    '지구' : 'Earth',
    '화성' : 'Mars',
    '목성' : 'Jupiter',
    '토성' : 'Saturn',
    '천왕성' : 'Uranus',
    '해왕성' : 'Neptune',
}
name = input()
행성[name]

'Mercury'

In [ ]:
name = input()
행성.get(name, '값 없음')

'값 없음'

In [ ]:
행성한글 = ['수성','금성','지구','화성','목성','토성','천왕성','해왕성']
행성영어 = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']

name = input()
행성영어[행성한글.index(name)]

'Mercury'

In [ ]:
# zip은 어느 한쪽의 리스트 길이가 길어도 짝이 맞는데까지만 zip시킴
data = dict(zip(행성한글, 행성영어))

name = input()
data.get(name,'값 없음')

'Earth'

# 27번 : 딕셔너리 만들기

In [ ]:
keys = input().split()
values = map(int,input().split())

result = dict(zip(keys, values))
result

{'one': 10, 'two': 20}

In [ ]:
list(map(lambda x:x**2, [10,20,30]))

[100, 400, 900]

# 28번 : 2-gram, 문자열에서 2개의 연속된 요소를 출력하는 방법

In [ ]:
data = input()

for i in range(len(data) -1):
    print(data[i]+data[i+1])

py
yt
th
ho
on

In [ ]:
data = input()

for i in range(1, len(data)):
    print(data[i-1]+data[i])

py
yt
th
ho
on

# 29번 : 대문자만 지나가세요

In [ ]:
data = input()

if data.isupper():
    print('YES')
else:
    print('NO')

YES

In [ ]:
data = input()

정상종료 = True
for i in data:
    if ord(i) >= 65 and ord(i) <= 90:
        continue
    else:
        정상종료 = False
        break
else:
    print('YES')

if not 정상종료:
    print('NO')

NO

In [ ]:
ord('A'), ord('Z')

(65, 90)

# 30번 : 문자열 속 문자 찾기

In [ ]:
data = input()
word = input()

if word in data:
    print(data.find(word))

In [ ]:
data.index(word) # data에 word가 없으면 에러

In [ ]:
data.find(word) # data에 word가 없으면 -1

# 31번 : 파이썬 자료형의 복잡도

https://wayhome25.github.io/python/2017/06/14/time-complexity/

# 32번

In [27]:
data = '안녕하세요.               저는 제주대학교 컴퓨터공학전공 혜림입니다.'
splitdata = data.split(' ')
splitdata

['안녕하세요.',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '저는',
 '제주대학교',
 '컴퓨터공학전공',
 '혜림입니다.']

In [28]:
# 따라서 정규표현식 활용
for i in range(splitdata.count('')):
    splitdata.remove('')

splitdata

['안녕하세요.', '저는', '제주대학교', '컴퓨터공학전공', '혜림입니다.']

# 33번 : 거꾸로 출력하기

In [30]:
data = input()

list(data.strip().split(' '))[::-1]

['30', '20', '10']

In [36]:
data = input()
data = list(data.split(' '))

length = len(data) -1
for i in range(length, -1, -1):
    print(data[i], end= ' ')

30 20 10

# 34번 : sort 확인하기

In [37]:
data = [176,156,155,165,166,169]
# data.sort()
# sorted(data)

In [38]:
data

[176, 156, 155, 165, 166, 169]

In [44]:
입력 = input()
l = [float(i) for i in 입력.split(' ')]
l
if l != sorted(l):
    print('NO')
else:
    print('YES')

YES

In [39]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
[f'{i}X{j}={i*j}' for i in range(1,10) for j in range(2,10)]

['1X2=2',
 '1X3=3',
 '1X4=4',
 '1X5=5',
 '1X6=6',
 '1X7=7',
 '1X8=8',
 '1X9=9',
 '2X2=4',
 '2X3=6',
 '2X4=8',
 '2X5=10',
 '2X6=12',
 '2X7=14',
 '2X8=16',
 '2X9=18',
 '3X2=6',
 '3X3=9',
 '3X4=12',
 '3X5=15',
 '3X6=18',
 '3X7=21',
 '3X8=24',
 '3X9=27',
 '4X2=8',
 '4X3=12',
 '4X4=16',
 '4X5=20',
 '4X6=24',
 '4X7=28',
 '4X8=32',
 '4X9=36',
 '5X2=10',
 '5X3=15',
 '5X4=20',
 '5X5=25',
 '5X6=30',
 '5X7=35',
 '5X8=40',
 '5X9=45',
 '6X2=12',
 '6X3=18',
 '6X4=24',
 '6X5=30',
 '6X6=36',
 '6X7=42',
 '6X8=48',
 '6X9=54',
 '7X2=14',
 '7X3=21',
 '7X4=28',
 '7X5=35',
 '7X6=42',
 '7X7=49',
 '7X8=56',
 '7X9=63',
 '8X2=16',
 '8X3=24',
 '8X4=32',
 '8X5=40',
 '8X6=48',
 '8X7=56',
 '8X8=64',
 '8X9=72',
 '9X2=18',
 '9X3=27',
 '9X4=36',
 '9X5=45',
 '9X6=54',
 '9X7=63',
 '9X8=72',
 '9X9=81']

In [42]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i*j}')
l

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

# 35번 : 거듭제곱

In [ ]:
def one(n):
    def two(value):
        return value**n
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

In [45]:
민영 = print
민영('hello world')

hello world

# 36번

In [46]:
단 = int(input())
for i in range(1, 10):
    print(단*i, end=' ')

2 4 6 8 10 12 14 16 18

In [48]:
단 = int(input())
s = ''
for i in range(1, 10):
    s += str(단*i) + ' '
print(s)

2 4 6 8 10 12 14 16 18

# 37번 : count 사용하기

In [50]:
# 원범 원범 혜원 혜원 혜원 혜원 유진 유진

data = input().split()
data_set = set(data)
data_dict = {}
for key in data_set:
    data_dict[key] = data.count(key)

f'{max(data_dict, key=data_dict.get)}(이)가 총 {max(data_dict.values())}표로 반장이 되었습니다.'

'혜원(이)가 총 4표로 반장이 되었습니다.'

In [51]:
data = [(1,2,9),(4,5,6),(0,7,8),(3,1,1)]

max(data)

(4, 5, 6)

In [52]:
def 함수(x):
    return x[2]

max(data, key=함수) # 리턴된 값을 기준으로 max

(1, 2, 9)

In [53]:
max(data, key=lambda x:x[2])

(1, 2, 9)

# 38번

In [54]:
# 점수입력 : 97 86 75 66 55 97 85 97 97 95
# 출력 : 6

data = input().split()
data = [int(i) for i in data]

count = 3
data_sorted = sorted(data)
data_sorted

[55, 66, 75, 85, 86, 95, 97, 97, 97, 97]

In [60]:
# 점수입력 : 97 86 75 66 55 97 85 97 97 95 95 95
# 출력 : 6

data = input().split()
data = [int(i) for i in data]

count = 0

if len(set(data)) <= 3:
    count = len(data)
else:
    break_point = sorted(list(set(data)), reverse=True)[3]
    data_sorted = sorted(data, reverse=True)
    for i in data_sorted:
        if break_point == i:
            break
        else:
            count += 1

count

8

# 39번 : q -> e, b-> n

In [62]:
data = input()
data.replace('q','e').replace('b','n')

'euery'

In [64]:
import re

#re.sub('q|b','!', data) # q나 b를 !로 바꾸어라

data = re.sub('q','e', data)
print(re.sub('b','n', data))

euery

In [65]:
import re

re.sub('[0-9]+','!','123abc123')
re.sub('[a-z]+','!','123abc123')
re.sub('[a-z]','!','123abc123')

'123!!!123'

# 40번

In [68]:
제한무게 = float(input())
친구수 = int(input())
친구의몸무게 = []
전체몸무게 = 0
제한수 = 0
비교 = True

for i in range(친구수):
    친구의몸무게.append(float(input()))
    전체몸무게 += 친구의몸무게[i]
    if 전체몸무게 > 제한무게:
        if 비교:
            비교 = False
            제한수 = i
            break
if 제한수 == 0 and 친구의몸무게[0] <= 제한무게:
    print(len(친구의몸무게))
else:
    print(제한수)

1

# 41번

In [77]:
x = int(input())
if x <= 1:
    print('소수가 아닙니다.')
elif x == 2:
    print('소수입니다.')
else:
    for i in range(3, x):   
        if x % i == 0:
            print('소수가 아닙니다.')
            break
    else:
        print('소수입니다.')

소수가 아닙니다.

# 42번 : datetime 모듈 사용

In [78]:
import datetime

date = datetime.datetime.today()
date

datetime.datetime(2022, 9, 25, 16, 23, 13, 201135)

In [79]:
date.year

2022

In [80]:
date.year, date.month, date.day, date.hour, date.minute, date.second, date.microsecond

(2022, 9, 25, 16, 23, 13, 201135)

In [82]:
datetime.date(2022,9,28) - datetime.date.today()

datetime.timedelta(days=3)

In [83]:
datetime.date(2022,9,25).weekday() # 일요일 0,1,2,3,4,5,6

6

In [84]:
datetime.date(2022,9,25).isoweekday() # 1부터 시작 1,2,3,4,5,6,7 #일요일

7

In [88]:
m = int(input())
d = int(input())

def findDay(a,b):
    day = ['MON','TUE','WED','THU','FRI','SAT','SUN']
    return day[datetime.date(2022, a, b).weekday()]

print(findDay(m,d))

SUN

# 43번 : 10진수를 2진수로

In [89]:
bin(31)

'0b11111'

In [92]:
a = int(input())
b = []

while a:
    print(a)
    b.append(str(a % 2))
    a = int(a // 2)
print(b)
b.reverse()
print(''.join(b))

13
6
3
1
['1', '0', '1', '1']
1101

# 44번

In [93]:
data = input()

s = 0
for i in data:
    s += int(i)
s

6

# 45번 : 현재 년수 구하기

In [95]:
import time

t = time.time() # 현재를 초로
t = t // (365*24*60*60) + 1970
t

2022.0

# 46번

In [97]:
''.join([str(i) for i in range(1, 101)])

'123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100'

In [98]:
str(list(range(1,101)))

'[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]'

In [99]:
s = ''
합 = 0

for i in range(1,101):
    s += str(i)

for i in s:
    합 += int(i)
    
합

901

In [101]:
str(list(range(1, 10001))).count('8')

4000

# 50번: 버블정렬

In [103]:
def bubble(n, data):
    for i in range(n-1):
        for j in range(n-i-1):
            if data[j] > data[j+1]:
                data[j], data[j+1] = data[j+1], data[j]
    for i in range(n):
        print(data[i], end=" ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)

1 2 3 4 5